.navbar-low-opacity {
  --bs-bg-opacity: 0;
}
.navbar-high-opacity {
  --bs-bg-opacity: 0.4;
}
.heru-h1-tag {
  color: #b40084c4;
}
#hero-banner .container {
  margin-top: 80px;
}
.card {
  width: 100% !important;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }

  #hero-banner form {
    margin-right: 31px;
  }
}
